@font-face {
    font-family: 'Bebas';
    src: url('../fonts/Bebas.woff2') format('woff2'), url('../fonts/Bebas.woff') format('woff'), url('../fonts/Bebas.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('../fonts/HelveticaNeue.woff2') format('woff2'), url('../fonts/HelveticaNeue.woff') format('woff'), url('../fonts/HelveticaNeue.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: Bebas, sans-serif;
    font-size: 12px;
}

.line::before,
.line::after {
    content: "";
    width: 100%;
    flex: 1 0 0;
    background-color: rgba(232, 96, 60, 0.5);
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 78px;
}

.menu__list {
    padding-top: 5px;
    list-style: none;
}

.menu__item {
    display: inline-block;
    font-size: 16px;
}

.menu__item:not(:first-child) {
    margin-left: 26px;
}

.menu__link {
    color: #b9b9b9;
    text-decoration: none;
    transition: color 0.5s;
}

.menu__link--active,
.menu__link:hover {
    color: #e8663c;
}

.menu__btn {
    display: block;
    width: 50px;
    height: 50px;
    position: relative;
}

.menu__row,
.menu__row::before,
.menu__row::after {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    width: 30px;
    height: 4px;
    background-color: #e8663c;
    ;
}

.menu__row::before,
.menu__row::after {
    content: "";
    transition: 0.3s;
}

.menu__row::before {
    transform: translateY(-10px);
}

.menu__row::after {
    transform: translateY(6px);
}

.menu__btn--active .menu__row {
    height: 0;
}

.menu__btn--active .menu__row::before {
    transform: rotate(45deg);
}

.menu__btn--active .menu__row::after {
    transform: rotate(-45deg);
}

.menu__btn--click {
    display: none;
}

.slider {
    display: flex;
}

.slider__inner {
    margin-bottom: 17px;
}

.slider::before,
.slider::after {
    height: 61px;
}

.slider__item {
    min-height: 401px;
    position: relative;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.slider__descr {
    max-width: 413px;
    background-color: rgba(232, 102, 60, 0.8);
    position: absolute;
    bottom: 32px;
    left: 36px;
    padding: 18px 18px 19px;
    color: #ffffff;
    line-height: 1.2;
}

.slider__title {
    font-size: 18px;
}

.slider__text {
    font-family: 'HelveticaNeue', sans-serif;
}

.slick-btn {
    position: absolute;
    top: 157px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    z-index: 1;
    transition: all 0.5s;
}

.slick-btn:hover {
    opacity: 0.7;
}

.slick-prev {
    left: 18px;
}

.slick-next {
    right: 18px;
}

.slick-dots li button {
    font-size: 0;
    border: none;
    width: 14px;
    height: 14px;
    margin-right: 10px;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    display: none;
}

.slick-dots li.slick-active button {
    background-color: #e8663c;
}

.slick-dots li {
    list-style: none;
}

.slider__photo {
    margin: 0 -10px;
}

.slider__photo .slick-track {
    transform: translate3d(0, 0, 0) !important;
}

.slider__box {
    max-width: 140px;
    width: 100%;
    min-height: 120px;
    margin: 0 10px;
    cursor: pointer;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.5s;
}

.slider__box:hover {
    opacity: 0.6;
}

.articles__inner {
    display: flex;
    margin: 35px 0 50px;
}

.item:not(:last-child) {
    margin-right: 20px;
}

.item__title {
    font-size: 18px;
    line-height: 24px;
    color: #e8663c;
    padding-left: 70px;
    position: relative;
}

.item__title::before {
    width: 55px;
    height: 50px;
    content: "";
    position: absolute;
    left: 0;
}

.item__title--icon1::before {
    background: url('../images/check.svg') no-repeat;
}

.item__title--icon2::before {
    background: url('../images/offer.svg') no-repeat;
}

.item__title--icon3::before {
    background: url('../images/follow.svg') no-repeat;
}

.item__text {
    font-family: 'HelveticaNeue', sans-serif;
    line-height: 18px;
    margin: 25px 0 50px;
}

.item__link {
    text-decoration: none;
    background-color: #e8663c;
    color: #fff;
    padding: 8px 15px;
    transition: all 1s;
}

.item__link:hover {
    background-color: orange;
}

.works__title {
    display: flex;
    color: #e8603c;
    font-size: 18px;
    white-space: nowrap;
    margin-bottom: 20px;
}

.works__title::after {
    content: "";
    width: 100%;
    height: 19px;
    background: url('../images/line.png');
    opacity: 0.3;
    display: block;
    margin-left: 20px;
}

.works__inner {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    ;
    margin-bottom: 50px;
}

.work__img {
    display: block;
    transition: all 1s;
}

.work__img:hover {
    opacity: 0.6;
}

.work__descr {
    border: 1px solid #dbdbdb;
    border-top: none;
}

.work__link {
    text-decoration: none;
    color: #b9b9b9;
    transition: color 1s;
}

.work__link:hover {
    color: #000;
}

.work__caption {
    padding: 13px 14px 8px;
}

.work__text {
    display: block;
    font-size: 11px;
    color: #e8663c;
    padding: 0 14px 13px;
}

.footer {
    display: flex;
}

.footer__inner {
    display: flex;
    background-color: #e8663c;
    padding: 38px 25px 31px 35px;
}

.footer__item,
.footer__contact {
    flex: 0 0 260px;
    font-family: 'HelveticaNeue';
    font-style: normal;
    font-size: 12px;
    color: #fff;
}

.footer__item:not(:last-child) {
    margin-right: 42px;
}

.footer__title {
    font-family: 'Bebas';
    font-size: 20px;
}

.footer__descr {
    line-height: 1.2;
    margin-bottom: 20px;
}

.footer__twit {
    text-decoration: none;
    color: #f3b29d;
}

.contact__us {
    flex: 0 0 120px;
    margin-bottom: 28px;
}

.contact__link {
    text-decoration: none;
    color: #fff;
}

.social {
    display: flex;
    margin: 0;
    padding: 0;
}


.social__item {
    list-style: none;
    margin-top: 10px;
}

.social__item:not(:first-child) {
    margin-left: 7px;
}
